{% extends 'base.html' %}

{% block content %}


<br>
	<div class="col-md-5">
		<h2>Kegiatan PEWE</h2>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_kegiatan' %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Nama peserta</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for peserta in Peserta %}
					<tr>
						<td>{{peserta.nama_peserta}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'tambah_peserta' %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_peserta' peserta.id %}">Delete</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>

{% endblock %}