{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story6</title>
{% endblock meta %}

{% block content %}  
{% include 'navbar.html' %}
  <form action="" method="POST">
		{% csrf_token %}
		{{form.as_p}}			
		<input type="submit" name="Tambah peserta">
	</form>
{% endblock content %}
