{% include 'base.html' %}
{% load static %}

{% block meta %}
<title>addkegiatan Story6</title>
{% endblock meta %}

{% block content %}  
{% include 'navbar.html' %}
  <form action="" method="POST">
		{% csrf_token %}
		{{form}}			
		<input type="submit" name="Submit">
	</form>
{% endblock content %}
