{% include 'base.html' %}
{% load static %}
{% block meta %}
<title>output Story6</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
	<div class="col-md-5">
		<h2>Kegiatan PEWE</h2>
		<hr>
    		<div class="kegiatan">
    			{% for kegiatan in Kegiatan %}
                    <div style= "width: 300px;border: 15px solid green;padding: 50px;margin: 20px;">
                    <p style= "text-align:center;">{{kegiatan.nama_kegiatan}}</p>
        			<ul>
        			{% for peserta in Peserta %}
                        <li>{{peserta.nama_peserta}}</li>
        			{% endfor %}
                    </ul>            
        		</div>
    			{% endfor %}
    		</div>
	</div>


{% endblock %}