{% include 'base.html' %}
{% load static %}

{% block meta %}
<title>addpeserta Story6</title>
{% endblock meta %}

{% block content %}  
  <form action="" method="POST">
		{% csrf_token %}
		{{form}}			
		<input type="submit" name="Submit">
	</form>
{% endblock content %}
